<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Simple Social Media Site</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/home-icon.png" alt="home icon" /></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/settings">Settings</a></div>
  </nav>

  <section id="app">

  </section>

  <script src="/assets/appBundle.js"></script>
</body>

</html>