* {
    font-family: 'Roboto', sans-serif;
    color: white;
}

button {
    background-color: #4376e4;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

/* Tabs */

.tabs {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.tabButton {
    background-color: #ffffff00;
    font-size: 32px;
    font-weight: bolder;
    margin-left: 110px;
    margin-right: 110px;
    color: #a5a5a5;
}

.tabButton.active {
    color: white;
}

.tabButton:hover:not(.active) {
    color: #83a8f8;
}

/* Follow Button */

.follow-btn {
    float: right;
    margin-right: 15px;
    height: 30px;
    width: 70px;
    margin-top: -15px;
}

.follow-btn.follow {
    background-color: #4376e4;
}

.follow-btn.follow:hover {
    background-color: #3967ca;
}

.follow-btn.unfollow {
    background-color: #838383;
}

.follow-btn.unfollow:hover {
    background-color: #747474;
}

/* Block Button */

.block-btn {
    float: right;
    margin-right: 10px;
    height: 30px;
    width: 70px;
    margin-top: -15px;
}

.block-btn.block {
    background-color: #e44843;
}

.block-btn.block:hover {
    background-color: #f75c57;
}

.block-btn.unblock {
    background-color: #838383;
}

.block-btn.unblock:hover {
    background-color: #747474;
}

.blockedPostContent {
    color: #1f1f1f;
    font-size: 1.0em;
    font-weight: lighter;
}

/* Ads */

.ad {
    background-color: #554557 !important;
    border: 6px dashed #614d63 !important;
    box-sizing: border-box;
    height: 160px;
    text-align: center;
}

.adContent {
    color: #e7b23e;
    margin-top: 60px;
    font-weight: bold !important;
}

/* 404 Page */

.errorPage {
    margin: 300px;
    margin-bottom: 10px;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #1f1f1f;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float: left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #333333;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a,
.navlink a:link,
.navlink a:visited,
.navlink a:hover,
.navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #333333;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #333333;
}

.postForm {
    border: 8px solid #a7a7a7;
    height: 120;
    width: 40%;
    padding-top: 10px;
    background-color: #d9d9d9;
    margin: auto;
    border-radius: 7px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.postForm label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.0em;
    float: left;
    color: white;
}

.postForm input[type=text] {
    float: left;
    color: black;
    height: 40px;
    width: 300px;
    margin-left: 10px;
    margin-top: 22px;
    border: none;
    border-radius: 7px;
}

.makePostSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    height: 30px;
    background-color: #333333;
    border-radius: 2px;
    color: white;
    text-decoration: none;
    border-radius: 7px;
    margin-left: 10px;
    margin-top: 27px;
}

.makePostSubmit:link,
.makePostSubmit:visited,
.makePostSubmit:hover,
.makePostSubmit:active {
    color: white;
}

.makePostSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #333333;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
    float: left;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 1.2em;
    width: 100px;
    background-color: #333333;
    border-radius: 2px;
    border-color: #333333;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
    margin-top: 100px;
}

#signupButton {
    float: right;
    margin-right: 35px;
}

#loginButton {
    float: left;
    margin-left: 35px;
}

.loginButtons {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    font-size: 1.2em;
    margin-top: -140px;
}

.formSubmit:link,
.formSubmit:visited,
.formSubmit:hover,
.formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #333333;
}

#user,
#pass,
#pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
    float: right;
    color: black;
}

#user:focus,
#pass:focus,
#pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #333333;
}

.hidden {
    display: none;
}

#post {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
}

#posts {
    width: 40%;
    min-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
}

.post {
    width: 95%;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 2px;
    border: 2px solid #474747;
    border-radius: 7px;
    background-color: #474747;
    padding: 10px;
    min-height: 60px;
    overflow-wrap: break-word;
    border: 8px solid #3f3f3f;
}

.post:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255, 255, 255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #474747;
}

img.profileIcon {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top: 10px;
    float: left;
}

h3.emptyPost {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.postContent {
    font-size: 1.0em;
    font-weight: lighter;
}

.post:first-child {
    margin-top: 10px;
}

.post:last-child {
    margin-bottom: 10px;
}